.modal-header{
  background-color: #1957A9;
}

.heading{
  color: aliceblue;
}

.mandatory{
  color:red;
}

.invalid-feedback {
  display: block !important;
}

.warn-msg {
  display:block;
  color: #ff0008;
  margin-bottom: 10px;
}

.button{
  height: 2.9em;
  width: 100px;
  font-size: 1.1538rem;
  }

.button-add{
  background-color: #1957A9;
  color: white;
  height: 2.9em;
  width: 100px;
  font-size: 1.1538rem;
}

.close:focus {
  opacity: 1 !important;
}

.form-control{
  font-size: 12px;
}
