<div class="be-splash-screen">
  <div class="be-wrapper be-login">
    <div class="be-content">
      <div class="main-content container-fluid">
        <div class="splash-container">
          <div class="card card-border-color card-border-color-primary">
            <div class="card-header">
              <img class="logo-img" src="assets/img/buddy-inno-logo2-04.png" alt="logo" width="150" height="50" /><span
                class="splash-description">Please change your password.</span>
            </div>
            <div class="card-body">
              <form [formGroup]="changePasswordForm">
                <div class="form-group input-group-md inner-addon right-addon">
                  <div class="password-wrapper">
                    <input [type]="showCurrentpassword ? 'text' : 'password'" class="form-control" name="password"
                      formControlName="currentPassword" id="password-field" placeholder="Enter your current password" />
                    <div (click)="showCurrentpassword = !showCurrentpassword" *ngIf="
                        changePasswordForm.get('currentPassword').value.length
                      ">
                      <span class="password-icon" [class.hide]="showCurrentpassword">
                        <em class="icon mdi mdi-eye"></em>
                      </span>
                      <span class="password-icon" [class.hide]="!showCurrentpassword">
                        <em class="icon mdi mdi-eye-off"></em>
                      </span>
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="
                      changePasswordForm.get('currentPassword').invalid &&
                      (changePasswordForm.get('currentPassword')?.touched ||
                        changePasswordForm.get('currentPassword')?.dirty)
                    ">
                    <h6>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('currentPassword')?.errors?.['required']"><strong>Password is
                          required</strong></span>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('currentPassword')?.errors?.['pattern']"><strong>Must contain
                          atleast 1 capital letter, 1 small letter, number ,
                          special symbol etc.</strong></span>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('currentPassword')?.errors?.['minlength']"><strong>Password must
                          have 8 letters</strong></span>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('currentPassword')?.errors?.['maxlength']"><strong>Password must
                          not exceed 20 charaters</strong></span>
                    </h6>
                  </div>
                </div>

                <div class="form-group input-group-md inner-addon right-addon">
                  <div class="password-wrapper">
                    <input [type]="showPasswordOnPress ? 'text' : 'password'" class="form-control" name="password"
                      formControlName="newPassword" id="password-field" placeholder="Enter your new password" />
                    <div (click)="showPasswordOnPress = !showPasswordOnPress"
                      *ngIf="changePasswordForm.get('newPassword').value.length">
                      <span class="password-icon" [class.hide]="showPasswordOnPress">
                        <em class="icon mdi mdi-eye"></em>
                      </span>
                      <span class="password-icon" [class.hide]="!showPasswordOnPress">
                        <em class="icon mdi mdi-eye-off"></em>
                      </span>
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="
                      changePasswordForm.get('newPassword').invalid &&
                      (changePasswordForm.get('newPassword')?.touched ||
                        changePasswordForm.get('newPassword')?.dirty)
                    ">
                    <h6>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']"><strong>Password is
                          required</strong></span>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']"><strong>Must contain
                          atleast 1 capital letter, 1 small letter, number ,
                          special symbol etc.</strong></span>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']"><strong>Password must have
                          8 letters</strong></span>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('newPassword')?.errors?.['maxlength']"><strong>Password must not
                          exceed 20 charaters</strong></span>
                    </h6>
                  </div>
                </div>

                <div class="form-group input-group-md inner-addon right-addon">
                  <div class="password-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="password"
                      formControlName="confirmPassword" id="password-field" placeholder="Confirm your new password" />
                    <div (click)="showPassword = !showPassword" *ngIf="
                        changePasswordForm.get('confirmPassword').value.length
                      ">
                      <span class="password-icon" [class.hide]="showPassword">
                        <em class="icon mdi mdi-eye"></em>
                      </span>
                      <span class="password-icon" [class.hide]="!showPassword">
                        <em class="icon mdi mdi-eye-off"></em>
                      </span>
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="
                      changePasswordForm.get('confirmPassword').invalid &&
                      (changePasswordForm.get('confirmPassword')?.touched ||
                        changePasswordForm.get('confirmPassword')?.dirty)
                    ">
                    <h6>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']"><strong>Password is
                          required</strong></span>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['pattern']"><strong>Must contain
                          atleast 1 capital letter, 1 small letter, number ,
                          special symbol etc.</strong></span>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['minlength']"><strong>Password must
                          have 8 letters</strong></span>
                      <span class="warn-msg"
                        *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['maxlength']"><strong>Password must
                          not exceed 20 charaters</strong></span>
                    </h6>
                  </div>
                </div>
                <div class="form-group reset-submit" type="submit">
                  <button class="btn btn-block btn-primary btn-xl" [disabled]="!changePasswordForm.valid || submitted"
                    (click)="changePassword()">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
