.modal-header{
  background-color: #1957A9;
}

.heading{
  font-size: larger;
  color: aliceblue;
}

.button{
background-color: #1957A9;
color: white;
  height: 2.9em;
  font-size: 1rem;
  width: 100px;
}

.btn{
  height: 2.9em;
  width: 100px;
  font-size: 1rem;
}

.close {
  color:white !important;
}

.modal-body{
  font-size: 14px;
}

.close:focus {
  opacity: 1 !important;
}
