  <div class="be-splash-screen">
    <div class="be-wrapper be-login">
      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="splash-container forgot-password">
            <div class="card card-border-color card-border-color-primary">
              <div class="card-header"><img class="logo-img" src="assets/img/buddy-inno-logo2-04.png" alt="logo" width="150" height="50"><span class="splash-description">Forgot your password?</span></div>
              <div class="card-body">
                <form [formGroup]="forgotPasswordForm">
                  <p>Don't worry, we'll send you an email to reset your password.</p>
                  <div class="form-group pt-4">
                    <input class="form-control" type="email" formControlName="email" placeholder="Enter your email">

                    <div class="invalid-feedback" *ngIf="
                    forgotPasswordForm.get('email').invalid &&
                    (forgotPasswordForm.get('email')?.touched ||
                      forgotPasswordForm.get('email')?.dirty)
                  ">
                  <h6>
                    <span class="warn-msg" *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"><strong>Email is
                      required</strong></span>
                    <span class="warn-msg" *ngIf="forgotPasswordForm.get('email')?.errors?.['pattern']"><strong>Please enter a valid
                      email</strong></span>
                  </h6>
                </div>
                  </div>
                  <div class="form-group pt-1" type="submit"><button class="btn btn-block btn-primary btn-xl" [disabled]="!forgotPasswordForm.valid || (submitted)" (click)="forgotPassword()" >Reset Password</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
